@charset "EUC-KR";
	body {
	    font-family: Arial, sans-serif; /* 전체 페이지의 기본 글꼴 설정 */
	    background-color: white; /* 배경색 설정 */
	    margin: 0; /* 페이지의 바깥 여백 제거 */
	    padding: 20px
    }
    nav {
	    list-style-type: none; /* 목록 마커 제거 */
	    margin: 0; /* 목록의 바깥 여백 제거 */
	    padding: 0; /* 목록의 안쪽 여백 제거 */
	    overflow: hidden; /* 넘치는 내용을 숨김 */
	    background-color:#333;
	    color:white;
	    text-align: center;
	    font-size:40px;
    }

    ul {
	    list-style-type: none; /* 목록 마커 제거 */
	    margin: 0; /* 목록의 바깥 여백 제거 */
	    padding: 0; /* 목록의 안쪽 여백 제거 */
	    overflow: hidden; /* 넘치는 내용을 숨김 */
	    background-color:#333; 
	    text-align: center;
      
    }

    li {
      display: inline-block;
      font-size: 20px;
      text-align: center;
      font-size: 30px;
    }

    a {
     text-decoration: none;
      color:white;
      font-weight: bold;
      
    }

    .post-form {
      max-width: 800px;
      margin: 20px auto;

      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .tbl {
	    border-radius: 8px; /* 테이블 테두리 둥글게 설정 */
	    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
	    margin-bottom: 20px; /* 테이블 아래 여백 설정 */
	    padding: 20px; /* 테이블 내부 여백 설정 */
	    width: 100%; /* 테이블 너비 설정 */
	    border-collapse: collapse;
	    background-color: #ffefe8;
    }
    
    .tbl2 {
	    border-radius: 8px; /* 테이블 테두리 둥글게 설정 */
	    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
	    margin-bottom: 20px; /* 테이블 아래 여백 설정 */
	    padding: 20px; /* 테이블 내부 여백 설정 */
	    width: 100%; /* 테이블 너비 설정 */
	    border-collapse: collapse;
	    background-color: #ffffbb;
    }

    th, td {
      border: none;
      padding: 8px;
      text-align: left;
      border-radius: 6px;
      
    }

    th {
   		background-color: #333; /* 테이블 헤더 배경색 설정 */
    	color: white; 
    }

    .post {
      font-weight: bold;
      font-size: 16px;
    }

    .button {
      background-color: #bff5bf;
      color: black;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 10px auto;
    }

    .button:hover {
      background-color: #7ff3ef;
    }

    input[type="text"],
    textarea {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      box-sizing: border-box;
    }

    textarea {
      resize: vertical; /* 세로 리사이즈 허용 */
    }
    
    
    .button1 {
      background-color: #ffca74;
      color: #ff0014;
      padding: 3px;
      border: none;
      border-radius: 5px;
      margin: 5px auto;
    }

    .button1:hover {
      background-color: #ffffff;
    }